.main {
	width: 100%;
}
img {
    max-width: 300px;
    width: 50%;
    display: inline-block;
    vertical-align: top;

    @media screen and (min-width: 700px) {
    	width: 33.3333%;
    }
}
[walnut] {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    background: #eee;
    font-size: 0;

    & + & {
    	margin-top: 20px;
    }
}
