// bower:scss
// endbower

.walnut {

    ul{
        list-style: none;
    }
    
    &__wrapper {
        display: none;
        overflow-y: auto;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9999999999;

        background-color: rgba(#000, 0.8);
    }

    &__box {
        position: relative;
        background-color: #101010;
        margin: 10px;




        @media screen and (min-width: 800px) {
            max-width: 90%;
            margin: {
                left: auto;
                right: auto;
            }
        }
    }

    &__image {
        max-width: 100%;
        // display: block;
        float: none;
        max-height: 100vh;
        width: initial;
        

        &-container {
            position: relative;
            text-align: center;

            &:hover {
                .walnut__navigation {
                    opacity: 0.5;
                }
            }
        }
    }

    &__close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 15px;
        z-index: 11;
        font-size: 30px;
        display: inline-block;
        color: #fff;
        text-shadow: 0 2px 3px rgba(#000, 0.6);
        // box-shadow: 0 2px 3px rgba(#000, 0.6);
        cursor: pointer;
        opacity: 0;
        padding: 10px;

        &:hover {
            opacity: 1 !important;
        }

        .walnut--is-touch & {
            opacity: 1 !important;
        }
    }
    
    &__navigation{
        position: absolute;
        top: 0;
        // top: 50%;
        // transform: translateY(-50%);
        z-index: 10;
        height: 100%;
        width: 60px;
        line-height: 100%;

        font-size: 30px;
        display: inline-block;
        padding: 10px;
        
        // text-shadow: 0 2px 3px rgba(#000, 0.6);
        
        cursor: pointer;
        opacity: 0;

        &:hover{
            opacity: 1 !important;
        }

        .walnut--is-touch & {
            display: none;
        }

        .walnut__image-container:hover &{
            opacity: 0.5;
            background-color: rgba(0, 0, 0, 0.4);
        }

        &--next {
            right: 0px;
        }

        &--prev {
            left: 0px;
        }
        &-img {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            border-radius: 50%;
            // background-color: rgba(#fff, 0.6);
            box-shadow: 0 2px 3px rgba(#000, 0.1);
        }
    }

    &__list {
        // display: flex;
        padding: 0px;
        margin: 0;
        // flex-wrap: wrap;
        width: 10000px;
        list-style: none;
        

        &-container {
            width: 100%;
            overflow-x: auto; 
            position: relative;
            z-index: 10;
        }
    }

    &__item {
        width: 200px;
        height: 200px;
        cursor: pointer;
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__source {
        width: 100%;
        height: 100%;
        
    }

    &__direction {

        &-arrow {
            height: 100%;
            float: none;
            width: 40px;
            height: 40px;

            .walnut__direction-line--active-left & {
                float: left;
            }

            .walnut__direction-line--active-right & {
                float: right;
            }
        }

        &-line {
            will-change: true;
            display: none;
            position: absolute;
            top: 50%;
            left: auto;
            transform: translateY(-50%) translateZ(0);
            max-width: 100px;
            
            background-color: rgba(#e4e4e4, 0.6);
            border-radius: 20px;
            &--active {
                display: block;

                &-left {
                    right: 50%;
                    margin-right: -20px;
                }

                &-right {
                    left: 50%;
                    margin-left: -20px;
                }
            }
        }
    }

}

.walnut--open{
    overflow: hidden;
    
    .walnut {

        &__wrapper {
            display: block;
        }
    }
}