.walnut ul {
  list-style: none;
}

.walnut__wrapper {
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
}

.walnut--open .walnut__wrapper.walnut__wrapper--open {
  display: block;
}

.walnut__wrapper * {
  box-sizing: border-box;
}

.walnut__box {
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  position: relative;
  background-color: #101010;
  margin: 10px 0;
  width: 100%;
  max-width: calc(100% - 20px);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.walnut--align-top .walnut__box {
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

@media screen and (min-width: 800px) {
  .walnut__box {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.walnut__image {
  max-width: 100%;
  display: inline-block;
  float: none;
  max-height: 100vh;
  width: initial;
}

.walnut__image-container {
  position: relative;
  text-align: center;
}

.walnut__image-container:hover .walnut__navigation {
  opacity: 0.5;
}

.walnut__navigation {
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  position: fixed;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 60px;
  line-height: 100%;
  font-size: 30px;
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
}

.walnut__navigation:hover {
  opacity: 1 !important;
}

.walnut--is-touch .walnut__navigation {
  display: none;
}

.walnut__image-container:hover .walnut__navigation {
  opacity: 0.5;
}

.walnut__navigation--next {
  right: 0px;
}

.walnut__navigation--prev {
  left: 0px;
}

.walnut__navigation svg {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.walnut__source {
  width: 100%;
  height: 100%;
}

.walnut__direction-arrow {
  will-change: transform;
  height: 100%;
  float: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.walnut__direction-line--active-left .walnut__direction-arrow {
  float: left;
}

.walnut__direction-line--active-right .walnut__direction-arrow {
  float: right;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.walnut__direction-line--ok .walnut__direction-arrow {
  background-color: rgba(165, 214, 167, 0.4);
}

.walnut__direction-line {
  will-change: transform;
  display: none;
  position: absolute;
  top: 50%;
  left: auto;
  -webkit-transform: translateY(-50%) translateZ(0);
          transform: translateY(-50%) translateZ(0);
  max-width: 100px;
  background-color: rgba(228, 228, 228, 0.6);
  border-radius: 20px;
}

.walnut__direction-line--active {
  display: block;
}

.walnut__direction-line--active-left {
  right: 50%;
  margin-right: -20px;
}

.walnut__direction-line--active-right {
  left: 50%;
  margin-left: -20px;
}

.walnut__list-container {
  width: 100%;
  overflow-x: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #444;
  padding: 20px;
}

.walnut__list-container::-webkit-scrollbar {
  display: none;
}

.walnut__list-handle {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 60px;
  background: #ccc;
  cursor: move;
}

.walnut__list {
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  padding: 0px;
  width: 10000px;
  list-style: none;
  margin: 0 auto;
}

.walnut__item {
  width: 80px;
  height: 80px;
  cursor: pointer;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.walnut__item + .walnut__item {
  margin-left: 10px;
}

@media (min-width: 500px) {
  .walnut__item {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 800px) {
  .walnut__item {
    width: 150px;
    height: 150px;
  }
}

.walnut-close {
  box-sizing: content-box;
  color: #ccc;
  width: 15px;
  height: 15px;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  display: inline-block;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  padding: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.walnut-close .walnut-close__path {
  fill: #ccc;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.walnut-close:hover {
  opacity: 1 !important;
}

.walnut-close:hover .walnut-close__path {
  fill: #fff;
}

.walnut__box:hover .walnut-close {
  opacity: 0.5;
}

.walnut--is-touch .walnut-close {
  opacity: 1 !important;
}

.walnut__fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  padding: 15px;
  cursor: pointer;
}

.walnut__fullscreen:hover path {
  fill: #fff;
}

.walnut__fullscreen path {
  fill: #ccc;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.walnut__fullscreen--hidden {
  visibility: hidden;
}

.walnut--open {
  overflow: hidden;
}

